---
import Layout from "../layouts/Layout.astro";
import Hero from "../components/Hero.astro";
import "../styles/global.css";
import Mission from "../components/Mission.astro";
import Solution from "../components/Solution.astro";
import ImageSection from "../components/ImageSection.astro";
import Image1 from "../assets/darren-bockman-pN3Z2usSIQw-unsplash.avif";
import Image2 from "../assets/frank-mckenna-OD9EOzfSOh0-unsplash.avif";
import Image3 from "../assets/john-cameron-jVqW-d6GZ2U-unsplash.avif";
import Partnership from "../components/Partnership.astro";
import Footer from "../components/Footer.astro";
import ButtonMenu from "../components/ButtonMenu.astro";
---

<Layout title="Sunshine Solutions" description="A conceptual business website">
  <ButtonMenu />
  <main class="main">
    <Hero />
    <Mission />
    <ImageSection src={Image1} alt="森に日光が差し込む風景" />
    <Solution />
    <ImageSection src={Image2} alt="海辺の風景" />
    <Partnership />
    <ImageSection src={Image3} alt="上空から眺める海の風景" />
  </main>
  <Footer />
</Layout>

<script>
  document.addEventListener("DOMContentLoaded", () => {
    const menu = document.getElementById("menu");
    const hero = document.getElementById("hero");

    const observerOptions = {
      root: null,
      rootMargin: "0px",
      threshold: 0.5,
    };

    const observerCallback = (entries) => {
      entries.forEach((entry) => {
        if (entry.isIntersecting) {
          menu.classList.remove("visible");
          return;
        }
        if (!entry.isIntersecting) {
          menu.classList.add("visible");
          return;
        }
      });
    };

    const observer = new IntersectionObserver(
      observerCallback,
      observerOptions
    );

    observer.observe(hero);
  });
</script>
