---
import MainHeader from "../components/MainHeader.astro";
import Layout from "../layouts/Layout.astro";
import Section from "../components/Section.astro";
import Hero from "../components/Hero.astro";
import "../styles/global.css";
---

<Layout title="Sunshine Solutions" description="A conceptual business website">
  <MainHeader />
  <main class="main">
    <Hero />
    <Section />
  </main>
</Layout>

<style>
  /* .headline {
    font-size: 2rem;
    font-weight: 600;
    @container (min-width: 600px) {
      color: orange;
    }
  } */
</style>

<script>
  document.addEventListener("DOMContentLoaded", () => {
    const header = document.getElementById("header");
    const hero = document.getElementById("hero");

    const observerOptions = {
      root: null,
      rootMargin: "0px",
      threshold: 0.5,
    };

    const observerCallback = (entries) => {
      entries.forEach((entry) => {
        if (entry.isIntersecting) {
          header.classList.remove("background");
          return;
        }
        if (!entry.isIntersecting) {
          header.classList.add("background");
          return;
        }
      });
    };

    const observer = new IntersectionObserver(
      observerCallback,
      observerOptions
    );

    observer.observe(hero);
  });
</script>
