---
import Layout from "../layouts/Layout.astro";
import Hero from "../components/Hero.astro";
import "../styles/global.css";
import Mission from "../components/Mission.astro";
import Solution from "../components/Solution.astro";
import ImageSection from "../components/ImageSection.astro";
import Partnership from "../components/Partnership.astro";
import Footer from "../components/Footer.astro";
import ButtonMenu from "../components/ButtonMenu.astro";
import Loading from "../components/Loading.astro";
---

<Layout title="Sunshine Solutions" description="A conceptual business website">
  <Loading />
  <ButtonMenu />
  <main class="main">
    <Hero />
    <Mission />
    <ImageSection
      src="/sunshine-solutions/images/section1"
      alt="森に日光が差し込む風景"
    />
    <Solution />
    <ImageSection src="/sunshine-solutions/images/section2" alt="海辺の風景" />
    <Partnership />
    <ImageSection
      src="/sunshine-solutions/images/section3"
      alt="上空から眺める海の風景"
    />
  </main>
  <Footer />
</Layout>

<script>
  document.addEventListener("DOMContentLoaded", () => {
    const menu = document.getElementById("menu");
    const hero = document.getElementById("hero");

    const observerOptions = {
      root: null,
      rootMargin: "0px",
      threshold: 0.5,
    };

    const observerCallback = (entries) => {
      entries.forEach((entry) => {
        if (entry.isIntersecting) {
          menu.classList.remove("visible");
          return;
        }
        if (!entry.isIntersecting) {
          menu.classList.add("visible");
          return;
        }
      });
    };

    const observer = new IntersectionObserver(
      observerCallback,
      observerOptions
    );

    observer.observe(hero);
  });
</script>
