---
import MainHeader from "../components/MainHeader.astro";
import Layout from "../layouts/Layout.astro";
import Hero from "../components/Hero.astro";
import "../styles/global.css";
import Mission from "../components/Mission.astro";
---

<Layout title="Sunshine Solutions" description="A conceptual business website">
  <MainHeader />
  <main class="main">
    <Hero />
    <Mission />
  </main>
</Layout>

<script>
  document.addEventListener("DOMContentLoaded", () => {
    const header = document.getElementById("header");
    const hero = document.getElementById("hero");

    const observerOptions = {
      root: null,
      rootMargin: "0px",
      threshold: 0.5,
    };

    const observerCallback = (entries) => {
      entries.forEach((entry) => {
        if (entry.isIntersecting) {
          header.classList.remove("background");
          return;
        }
        if (!entry.isIntersecting) {
          header.classList.add("background");
          return;
        }
      });
    };

    const observer = new IntersectionObserver(
      observerCallback,
      observerOptions
    );

    observer.observe(hero);
  });
</script>
