---

---

<div class="wrapper">
  <slot />
</div>

<style>
  .wrapper {
    padding: 2.5rem;
    width: 100%;
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(8, calc((100vw - 12rem) / 8));
    grid-auto-rows: auto;
    /* max-width: 1800px;
    margin: 0 auto; */
  }
</style>
