---

---

<div class="wrapper">
  <slot />
</div>

<style>
  .wrapper {
    padding: 2.5rem;
    width: 100%;
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(8, minmax(max-content, 1fr));
  }
</style>
