---
import Header from "./Header.astro";
---

<div id="hero" class="container">
  <Header />
  <h2>
    <p>
      Constant.<br />
      Illuminating.<br />
      Eternal.
    </p>
  </h2>
  <picture class="hero">
    <source
      media="(min-width: 1024px)"
      srcset="/sunshine-solutions/images/hero-4k.avif 3840w,/sunshine-solutions/images/hero-3k.avif 2880w,/sunshine-solutions/images/hero-2k.avif 1920w"
      sizes="100vw"
      type="image/avif"
    />
    <source
      media="(min-width: 768px)"
      srcset="/sunshine-solutions/images/hero-tab.avif"
      type="image/avif"
    />
    <source
      media="(max-width: 767px)"
      srcset="/sunshine-solutions/images/hero-sp.avif"
      type="image/avif"
    />
    <img
      src="/sunshine-solutions/images/hero.jpg"
      alt="朝日が登る風景"
      width="3840"
      height="2160"
    />
  </picture>
</div>

<style>
  .container {
    container-type: inline-size;
    min-height: 100svh;
    position: relative;
    background-color: black;
  }
  .hero {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100svh;
    z-index: -1;
  }
  .hero img {
    width: 100%;
    height: 100svh;
    object-fit: cover;
  }
  h2 {
    position: absolute;
    bottom: 15svh;
    left: 12vw;
  }
  p {
    --clamp-min: 45;
    --clamp-max: 63;
    color: var(--color-white);
    font-size: var(--clamp);
    line-height: 1;
    font-family: "cormorant garamond", serif;
    font-weight: 500;
    filter: drop-shadow(0 0 1rem var(--color-shadow));
    @media (min-width: 768px) {
      --clamp-min: 93;
      --clamp-max: 127;
    }
    @media (min-width: 1024px) {
      --clamp-min: 90;
      --clamp-max: 180;
    }
  }
</style>
