---

---

<div class="loading-screen"></div>

<style>
  .loading-screen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: hsl(0, 0%, 98%);
    z-index: 9999;
    opacity: 1;
    transition: opacity 1s ease-out;
  }

  .loading-screen.fade-out {
    opacity: 0;
  }
</style>

<script>
  document.addEventListener("DOMContentLoaded", () => {
    const loadingScreen = document.querySelector(".loading-screen") as any;

    setTimeout(() => {
      loadingScreen.classList.add("fade-out");
      loadingScreen.addEventListener("transitionend", () => {
        loadingScreen.style.display = "none";
      });
    }, 700);
  });
</script>
