---
import BackgroundGradient from "./BackgroundGradient.astro";
import CanvasSolar from "./CanvasSolar.astro";
import GridWrapper from "./GridWrapper.astro";
---

<section id="mission">
  <GridWrapper>
    <div class="text-wrapper">
      <h2 class="category">
        <span aria-hidden="true">Our </span><span
          class="color"
          aria-hidden="true">Mission</span
        >
        <span class="sr-only">Our mission</span>
      </h2>
      <h3 class="headline">絶え間なく&NewLine;宇宙を&NewLine;照らし続ける</h3>
      <p class="paragraph">
        <span class="bg-line">私たちは太陽系の中心にある存在として、</span>
        <span class="bg-line"
          >太陽系に不可欠なエネルギーと重力の安定を提供しています。</span
        >
        <span class="bg-line"
          >革新的な核融合技術を通じて、生命と惑星の営みを</span
        >
        <span class="bg-line"
          >持続可能な方法で支えることが私たちの使命です。</span
        >
      </p>
    </div>
    <div class="picture-wrapper">
      <CanvasSolar />
    </div>
    <BackgroundGradient
      color1="hsl(75 100% 50% / 17.5%)"
      color2="hsl(350 100% 50% / 10%)"
    />
  </GridWrapper>

  <style>
    section {
      background: rgb(255, 199, 201);
      background: linear-gradient(
          135deg,
          rgba(255, 199, 201, 0.35) 0%,
          rgba(255, 251, 163, 0.35) 60%,
          rgba(206, 255, 128, 0.35) 100%
        ),
        #fff;
      position: relative;
      z-index: -10;
      overflow: hidden;
    }
    .text-wrapper {
      display: flex;
      flex-direction: column;
      grid-column: 2 / span 6;
      --clamp-min: 45;
      --clamp-max: 108;
      padding-top: var(--clamp);
      color: hsl(0, 0%, 25%);
      @media (min-width: 768px) {
        grid-column: 2 / span 5;
        --clamp-min: 108;
        --clamp-max: 144;
      }
      @media (min-width: 1025px) {
        grid-column: 2 / span 3;
        --clamp-min: 104;
        --clamp-max: 208;
      }
    }
    .category {
      --clamp-min: 18;
      --clamp-max: 24;
      font-size: var(--clamp);
      font-family: "cormorant garamond", serif;
      font-weight: 500;
      margin-bottom: 1rem;
      @media (min-width: 768px) {
        --clamp-min: 26;
        --clamp-max: 34;
      }
      @media (min-width: 1025px) {
        --clamp-min: 32;
        --clamp-max: 64;
      }
      & .color {
        color: hsl(340, 100%, 50%);
      }
    }
    .headline {
      --clamp-min: 32;
      --clamp-max: 60;
      color: hsl(340, 100%, 50%);
      font-family: "shippori mincho", serif;
      font-weight: 400;
      font-size: var(--clamp);
      line-height: 1.25;
      margin-bottom: 2.875em;
      white-space: pre-line;
      transform: translateX(-0.35vw);
      @media (min-width: 768px) {
        --clamp-min: 60;
        --clamp-max: 80;
        margin-bottom: 2.375em;
      }
      @media (min-width: 1025px) {
        --clamp-min: 60;
        --clamp-max: 120;
        margin-bottom: 2.375em;
        word-break: keep-all;
      }
    }
    .paragraph {
      font-size: var(--clamp);
      --clamp-min: 14;
      --clamp-max: 16;
      font-family: "noto sans", sans-serif;
      font-weight: 500;
      line-height: 1.9;
      padding-bottom: 6.375em;
      letter-spacing: 0.05rem;
      @media (min-width: 768px) {
        --clamp-min: 16;
        --clamp-max: 22;
        padding-bottom: 8.375em;
        word-break: keep-all;
      }
      @media (min-width: 1025px) {
        --clamp-min: 16;
        --clamp-max: 32;
        padding-bottom: 8.375em;
        word-break: keep-all;
      }
    }

    .picture-wrapper {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      --clamp-min: 300;
      --clamp-max: 673;
      width: var(--clamp);
      z-index: -1;
      @media (min-width: 768px) {
        --clamp-min: 673;
        --clamp-max: 896;
      }
      @media (min-width: 1025px) {
        --clamp-min: 896;
        --clamp-max: 1792;
      }
    }
    .sr-only {
      position: absolute;
      width: 1px;
      height: 1px;
      padding: 0;
      margin: -1px;
      overflow: hidden;
      clip: rect(0, 0, 0, 0);
      white-space: nowrap;
      border: 0;
    }
  </style>
</section>
