---
import GridWrapper from "./GridWrapper.astro";
---

<section id="mission">
  <GridWrapper>
    <div class="text-wrapper">
      <p class="category">Our <span class="color">mission</span></p>
      <h2 class="headline">絶え間なく<br />宇宙を<br />照らし続ける</h2>
      <p class="paragraph">
        <span class="bg-line">私たちは太陽系の中心にある存在として、</span>
        <span class="bg-line"
          >太陽系に不可欠なエネルギーと重力の安定を提供しています。</span
        >
        <span class="bg-line"
          >革新的な核融合技術を通じて、生命と惑星の営みを</span
        >
        <span class="bg-line"
          >持続可能な方法で支えることが私たちの使命です。</span
        >
      </p>
    </div>
    <div class="picture-wrapper">
      <svg
        width="100%"
        height="100%"
        role="img"
        aria-label="太陽系の概略図"
        viewBox="0 0 817 817"
        version="1.1"
        xmlns="http://www.w3.org/2000/svg"
        xmlns:xlink="http://www.w3.org/1999/xlink"
        xml:space="preserve"
        style="fill-rule:evenodd;clip-rule:evenodd;stroke-linejoin:round;stroke-miterlimit:1.5;"
      >
        <g
          id="illustration"
          transform="matrix(1.16655,0,0,2.61586,-413.594,2273.75)"
        >
          <g
            id="orbit4"
            transform="matrix(0.995366,0,0,0.443887,-1692.4,-1564)"
          >
            <circle
              cx="2408.26"
              cy="1917.02"
              r="351.53"
              style="fill:none;stroke:rgb(179,179,179);stroke-width:0.52px;"
            ></circle>
          </g>
          <g
            id="orbit3"
            transform="matrix(0.498331,0,0,0.222232,-495.409,-1139.09)"
          >
            <circle
              cx="2408.26"
              cy="1917.02"
              r="351.53"
              style="fill:none;stroke:rgb(179,179,179);stroke-width:1.03px;"
            ></circle>
          </g>
          <g
            id="orbit2"
            transform="matrix(0.149175,0,0,0.0665252,342.235,-842.029)"
          >
            <circle
              cx="2408.26"
              cy="1917.02"
              r="351.53"
              style="fill:none;stroke:rgb(179,179,179);stroke-width:3.45px;"
            ></circle>
          </g>
          <g
            id="orbit1"
            transform="matrix(0.244772,0,0,0.109157,112.013,-923.754)"
          >
            <circle
              cx="2408.26"
              cy="1917.02"
              r="143.333"
              style="fill:none;stroke:rgb(179,179,179);stroke-width:2.1px;"
            ></circle>
          </g>
          <g
            id="saturn"
            transform="matrix(0.561915,0,0,0.250588,-995.378,-1180.77)"
          >
            <circle
              cx="2568.44"
              cy="2289.19"
              r="17.796"
              style="fill:rgb(255,212,153);"></circle>
          </g>
          <g
            id="jupiter"
            transform="matrix(0.561915,0,0,0.250588,-599.905,-1334.81)"
          >
            <circle
              cx="2568.44"
              cy="2289.19"
              r="17.796"
              style="fill:rgb(255,213,61);"></circle>
          </g>
          <g
            id="mars"
            transform="matrix(0.0959775,0,0,0.0428014,433.903,-813.844)"
          >
            <circle
              cx="2396.11"
              cy="1937.73"
              r="52.402"
              style="fill:rgb(253,131,0);"></circle>
          </g>
          <g
            id="earth"
            transform="matrix(0.0959775,0,0,0.0428014,492.807,-810.14)"
          >
            <circle
              cx="2396.11"
              cy="1937.73"
              r="52.402"
              style="fill:rgb(0,186,253);"></circle>
          </g>
          <g transform="matrix(0.140071,0,0,0.0624651,613.451,-734.353)">
            <g id="sun">
              <circle
                cx="628.518"
                cy="317.839"
                r="132.161"
                style="fill:url(#_Linear1);"></circle>
            </g>
          </g>
        </g>
        <defs>
          <linearGradient
            id="_Linear1"
            x1="0"
            y1="0"
            x2="1"
            y2="0"
            gradientUnits="userSpaceOnUse"
            gradientTransform="matrix(2.44022e-14,398.518,-398.518,2.44022e-14,628.518,122.391)"
            ><stop offset="0" style="stop-color:rgb(254,255,22);stop-opacity:1"
            ></stop><stop
              offset="1"
              style="stop-color:rgb(255,157,0);stop-opacity:1"
            ></stop></linearGradient
          >
        </defs>
      </svg>
    </div>
  </GridWrapper>
</section>

<style>
  section {
    background: rgb(255, 199, 201);
    background: linear-gradient(
      135deg,
      rgba(255, 199, 201, 0.35) 0%,
      rgba(255, 251, 163, 0.35) 60%,
      rgba(206, 255, 128, 0.35) 100%
    );
    position: relative;
  }
  .text-wrapper {
    display: flex;
    flex-direction: column;
    grid-column: 2 / span 6;
    --clamp-min: 45;
    --clamp-max: 108;
    padding-top: var(--clamp);
    color: hsl(0, 0%, 25%);
    @media (min-width: 768px) {
      grid-column: 2 / span 5;
      --clamp-min: 108;
      --clamp-max: 144;
    }
    @media (min-width: 1024px) {
      grid-column: 2 / span 3;
      --clamp-min: 104;
      --clamp-max: 208;
    }
  }
  .category {
    --clamp-min: 18;
    --clamp-max: 24;
    font-size: var(--clamp);
    font-family: "cormorant garamond", serif;
    font-weight: 500;
    margin-bottom: 1rem;
    @media (min-width: 768px) {
      --clamp-min: 26;
      --clamp-max: 34;
    }
    @media (min-width: 1024px) {
      --clamp-min: 32;
      --clamp-max: 64;
    }
    & .color {
      color: hsl(340, 100%, 50%);
    }
  }
  .headline {
    --clamp-min: 32;
    --clamp-max: 60;
    color: hsl(340, 100%, 50%);
    font-family: "shippori mincho", serif;
    font-weight: 400;
    font-size: var(--clamp);
    line-height: 1.25;
    margin-bottom: 2.875em;
    transform: translateX(-0.35vw);
    @media (min-width: 768px) {
      --clamp-min: 60;
      --clamp-max: 80;
      margin-bottom: 2.375em;
    }
    @media (min-width: 1024px) {
      --clamp-min: 60;
      --clamp-max: 120;
      margin-bottom: 2.375em;
      word-break: keep-all;
    }
  }
  .paragraph {
    font-size: var(--clamp);
    --clamp-min: 14;
    --clamp-max: 16;
    font-family: "noto sans", sans-serif;
    font-weight: 500;
    line-height: 1.9;
    padding-bottom: 6.375em;
    letter-spacing: 0.05rem;
    @media (min-width: 768px) {
      --clamp-min: 16;
      --clamp-max: 22;
      padding-bottom: 8.375em;
      word-break: keep-all;
    }
    @media (min-width: 1024px) {
      --clamp-min: 16;
      --clamp-max: 32;
      padding-bottom: 8.375em;
      word-break: keep-all;
    }
  }

  .picture-wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    --clamp-min: 300;
    --clamp-max: 673;
    width: var(--clamp);
    z-index: -1;
    @media (min-width: 768px) {
      --clamp-min: 673;
      --clamp-max: 896;
    }
    @media (min-width: 1024px) {
      --clamp-min: 896;
      --clamp-max: 1792;
    }
  }
  /* .bg-line {
    background-color: hsl(60, 100%, 98%);
  } */
</style>
