---
import BackgroundGradient from "./BackgroundGradient.astro";
import GridWrapper from "./GridWrapper.astro";
---

<section id="partnerships">
  <GridWrapper>
    <div class="text-wrapper">
      <p class="category">Our <span class="color">partnerships</span></p>
      <h2 class="headline"><span class="number">46</span>億年の歴史</h2>
      <h3 class="sub-headline">私たちと地球の関係</h3>
      <p class="paragraph">
        私たちは、46億年にわたり、<br />
        地球に不可欠なエネルギーと<br />
        光のサービスを提供してきました。<br />
        地球と私たちの、今後も何十億年にわたる<br />
        素晴らしい未来を楽しみにしています。
      </p>
    </div>
    <div class="picture-wrapper">
      <img
        src="/sunshine-solutions/images/triangle.avif"
        alt="地球誕生から現在までの数直線"
        class="figure"
        width="2000"
        height="1698"
      />
    </div>
  </GridWrapper>
  <BackgroundGradient
    color1="hsl(75 100% 50% / 20%)"
    color2="hsl(350 100% 50% / 12.5%)"
  />
</section>

<style>
  section {
    background: rgb(255, 199, 201);
    background: linear-gradient(
      135deg,
      rgba(255, 199, 201, 0.35) 0%,
      rgba(255, 251, 163, 0.35) 60%,
      rgba(206, 255, 128, 0.35) 100%
    );
    position: relative;
    overflow: hidden;
  }
  .text-wrapper {
    display: flex;
    flex-direction: column;
    grid-column: 2 / span 6;
    --clamp-min: 45;
    --clamp-max: 108;
    padding-top: var(--clamp);
    color: hsl(0, 0%, 25%);
    @media (min-width: 768px) {
      grid-column: 2 / span 5;
      --clamp-min: 108;
      --clamp-max: 144;
    }
    @media (min-width: 1025px) {
      grid-column: 2 / span 3;
      --clamp-min: 104;
      --clamp-max: 208;
    }
  }
  .category {
    --clamp-min: 18;
    --clamp-max: 24;
    font-size: var(--clamp);
    font-family: "cormorant garamond", serif;
    font-weight: 500;
    margin-bottom: 1rem;
    @media (min-width: 768px) {
      --clamp-min: 26;
      --clamp-max: 34;
    }
    @media (min-width: 1025px) {
      --clamp-min: 32;
      --clamp-max: 64;
    }
    & .color {
      color: hsl(340, 100%, 50%);
    }
  }
  .headline {
    --clamp-min: 32;
    --clamp-max: 60;
    color: hsl(340, 100%, 50%);
    font-family: "shippori mincho", serif;
    font-weight: 400;
    font-size: var(--clamp);
    line-height: 1.25;
    margin-bottom: 2.875em;
    transform: translateX(-0.35vw);
    text-wrap: nowrap;
    @media (min-width: 768px) {
      --clamp-min: 60;
      --clamp-max: 80;
      margin-bottom: 2.375em;
    }
    @media (min-width: 1025px) {
      --clamp-min: 60;
      --clamp-max: 120;
      margin-bottom: 2.375em;
    }
  }
  .number {
    --clamp-min: 36;
    --clamp-max: 64;
    font-size: var(--clamp);
    letter-spacing: 0.25rem;
    @media (min-width: 768px) {
      --clamp-min: 64;
      --clamp-max: 84;
    }
    @media (min-width: 1025px) {
      --clamp-min: 64;
      --clamp-max: 124;
    }
  }
  .sub-headline {
    font-size: var(--clamp);
    --clamp-min: 18;
    --clamp-max: 20;
    font-family: "noto sans", sans-serif;
    font-weight: 500;
    letter-spacing: 0.05rem;
    margin-bottom: 2em;
    @media (min-width: 768px) {
      --clamp-min: 20;
      --clamp-max: 26;
    }
    @media (min-width: 1025px) {
      --clamp-min: 20;
      --clamp-max: 36;
    }
  }
  .paragraph {
    font-size: var(--clamp);
    --clamp-min: 14;
    --clamp-max: 16;
    font-family: "noto sans", sans-serif;
    font-weight: 500;
    line-height: 1.9;
    padding-bottom: 6.375em;
    letter-spacing: 0.05rem;
    & br {
      display: none;
    }
    @media (min-width: 768px) {
      --clamp-min: 16;
      --clamp-max: 22;
      padding-bottom: 8.375em;
      text-wrap: balance;
      & br {
        display: inline;
      }
    }
    @media (min-width: 1025px) {
      --clamp-min: 16;
      --clamp-max: 32;
      padding-bottom: 8.375em;
      text-wrap: balance;
    }
  }
  .picture-wrapper {
    width: 100%;
    grid-column: 1 / span 8;
    transform: translateX(-2vw);
    display: grid;
    place-content: center;
    font-size: var(--clamp);
    --clamp-min: 14;
    --clamp-max: 16;
    padding-bottom: 6.375em;
    @media (min-width: 768px) {
      grid-column: 2 / span 6;
      padding-bottom: 8.375em;
    }
    @media (min-width: 1025px) {
      grid-column: 5 / span 3;
      padding-bottom: 0;
      transform: translateX(1vw);
    }
  }
  .figure {
    max-width: 100%;
    height: auto;
  }
</style>
