---
import GridWrapper from "./GridWrapper.astro";
import Card from "./Card.astro";
---

<section id="solutions">
  <GridWrapper>
    <h2 class="category">
      Our <span class="color">Solutions</span>
    </h2>
    <div class="picture-wrapper">
      <img
        src="/images/lighted-earth.avif"
        alt="光に照らされた地球"
        class="earth"
        width="2000"
        height="2000"
      />
    </div>
    <div class="text-wrapper">
      <p class="number">1</p>
      <h2 class="headline">光</h2>
      <p class="paragraph">
        <span class="bg-line">私たちの光は、</span>
        <span class="bg-line">休むことなく世界を明るく照らし続けます。</span>
        <span class="bg-line">私たちがもたらす光は、</span>
        <span class="bg-line">一日を明るくするだけでなく、</span>
        <span class="bg-line">地球上の生命の未来を照らし出します。</span>
      </p>
    </div>
    <Card src="/images/card1" alt="上空から見た風景" className="card-position1">
      <div class="card__text-wrapper">
        <h3 class="card__title">世界規模のサービス提供</h3>
        <p class="card__tag">Illumination</p>
        <p class="card__paragraph">
          <span class="card__bg-line">常に地球の半分に明るい光を提供し、</span
          ><br role="none" />
          <span class="card__bg-line">生産性の高い環境を実現します。</span>
        </p>
      </div>
    </Card>
    <Card
      src="/images/card2"
      alt="光を透過する葉っぱ"
      className="card-position1"
    >
      <div class="card__text-wrapper">
        <h3 class="card__title">光合成サポート</h3>
        <p class="card__tag">Illumination</p>
        <p class="card__paragraph">
          <span class="card__bg-line">植物の成長に最適化された </span><br
            role="none"
          />
          <span class="card__bg-line">光の波長を提供し、 </span><br
            role="none"
          />
          <span class="card__bg-line">地球規模の食物連鎖と</span><br
            role="none"
          />
          <span class="card__bg-line">酸素生産を支えています。 </span>
        </p>
      </div></Card
    >
    <Card
      src="/images/card3"
      alt="草原にキリンがいる風景"
      className="card-position1"
    >
      <div class="card__text-wrapper">
        <h3 class="card__title">高度な視覚強化</h3>
        <p class="card__tag">Illumination</p>
        <p class="card__paragraph">
          <span class="card__bg-line">生物の視覚システムに</span><br
            role="none"
          />
          <span class="card__bg-line">最適なスペクトルを提供し、</span><br
            role="none"
          />
          <span class="card__bg-line">動物界全体のナビゲーションや</span><br
            role="none"
          />
          <span class="card__bg-line"> 社会的相互作用を促進します。</span>
        </p>
      </div></Card
    >
    <Card
      src="/images/card4"
      alt="山から眺める見晴らしのいい風景"
      className="card-position1"
    >
      <div class="card__text-wrapper">
        <h3 class="card__title">気分の向上</h3>
        <p class="card__tag">Illumination</p>
        <p class="card__paragraph">
          <span class="card__bg-line">私たちの光は機能的なだけでなく、</span><br
            role="none"
          />
          <span class="card__bg-line">自然な気分向上効果があり、</span><br
            role="none"
          />
          <span class="card__bg-line">幸福感を促進し、</span><br role="none" />
          <span class="card__bg-line">体内時計を調整します。</span>
        </p>
      </div></Card
    >
    <div class="picture-wrapper-2">
      <img
        src="/images/heated-earth.avif"
        alt="光に照らされ、熱を帯びた地球"
        class="earth"
        width="2000"
        height="2000"
      />
    </div>
    <div class="text-wrapper">
      <p class="number">2</p>
      <h2 class="headline">熱</h2>
      <p class="paragraph">
        <span class="bg-line">核融合反応から生まれた太陽放射によって、 </span>
        <span class="bg-line">地球にもたらされた熱は、</span>
        <span class="bg-line"
          >地球のエネルギーバランスの中核を担っています。</span
        >
        <span class="bg-line">私たちがもたらす熱は、</span>
        <span class="bg-line">単に惑星を温めるだけでなく、</span>
        <span class="bg-line">生命そのものの原動力となっています。</span>
      </p>
    </div>
    <Card
      src="/images/card5"
      alt="空から眺める雲と草原の風景"
      className="card-position1"
    >
      <div class="card__text-wrapper">
        <h3 class="card__title">気候調整</h3>
        <p class="card__tag card__tag--walm">Heat</p>
        <p class="card__paragraph">
          <span class="card__bg-line">地球の気候システムの原動力となり、</span
          ><br role="none" />
          <span class="card__bg-line">多様な生命体が生息可能な</span><br
            role="none"
          />
          <span class="card__bg-line">温度範囲を確保します。</span>
        </p>
      </div></Card
    >
    <Card src="/images/card6" alt="巨大な雲と虹" className="card-position1">
      <div class="card__text-wrapper">
        <h3 class="card__title">大気のダイナミクス</h3>
        <p class="card__tag card__tag--walm">Heat</p>
        <p class="card__paragraph">
          <span class="card__bg-line"
            >熱の分配により、地球規模の風系や
          </span><br role="none" />
          <span class="card__bg-line">気象システムを駆動し、</span><br
            role="none"
          />
          <span class="card__bg-line">地球の水循環に</span><br role="none" />
          <span class="card__bg-line">不可欠な役割を果たします。</span>
        </p>
      </div></Card
    >
    <Card src="/images/card7" alt="空から眺める海" className="card-position1"
      ><div class="card__text-wrapper">
        <h3 class="card__title">海流の活性化</h3>
        <p class="card__tag card__tag--walm">Heat</p>
        <p class="card__paragraph">
          <span class="card__bg-line"
            >海洋コンベアベルトにエネルギーを与え、
          </span><br role="none" />
          <span class="card__bg-line">栄養分の分配を促進。</span><br
            role="none"
          />
          <span class="card__bg-line">世界中の海洋生態系を支えます。</span>
        </p>
      </div></Card
    >
    <Card
      src="/images/card8"
      alt="花畑と遠くに山が見える風景"
      className="card-position1"
    >
      <div class="card__text-wrapper">
        <h3 class="card__title">季節の多様性</h3>
        <p class="card__tag card__tag--walm">Heat</p>
        <p class="card__paragraph">
          <span class="card__bg-line"
            >軸の傾きによる気温の変化により、
          </span><br role="none" />
          <span class="card__bg-line">多様な季節体験を提供し、</span><br
            role="none"
          />
          <span class="card__bg-line"
            >生物多様性と農業サイクルを支援します。</span
          >
        </p>
      </div></Card
    >
  </GridWrapper>
</section>

<style>
  section {
    background: rgb(255, 199, 201);
    background: repeating-linear-gradient(
        20deg,
        transparent,
        transparent 3px,
        rgba(255, 255, 255, 1) 3px,
        rgba(255, 255, 255, 1) 6px
      ),
      linear-gradient(
        135deg,
        rgba(255, 199, 201, 0.3) 0%,
        rgba(255, 251, 163, 0.75) 60%,
        rgba(206, 255, 128, 0.75) 100%
      );
    container-type: inline-size;
    padding-bottom: 3rem;
  }
  .category {
    --clamp-min: 50;
    --clamp-max: 101;
    font-size: var(--clamp);
    font-family: "cormorant garamond", serif;
    font-weight: 700;
    text-align: center;
    grid-column: 1 / span 8;
    justify-self: center;
    align-self: center;
    padding-top: 5rem;
    color: hsl(0, 0%, 25%);
    & .color {
      color: hsl(340, 100%, 50%);
    }
    @media (min-width: 768px) {
      --clamp-min: 101;
      --clamp-max: 134;
    }
    @media (min-width: 1025px) {
      --clamp-min: 168;
      --clamp-max: 336;
      padding-top: 0.5em;
    }
  }
  .picture-wrapper {
    grid-column: 1 / span 8;
    @media (min-width: 768px) {
      grid-column: 2 / span 3;
      grid-row: 2 / span 5;
    }
    @media (min-width: 1025px) {
      grid-column: 2 / span 3;
      grid-row: 2 / span 5;
    }
  }
  .picture-wrapper-2 {
    grid-column: 1 / span 8;
    @media (min-width: 768px) {
      grid-column: 2 / span 3;
      grid-row: 7 / span 5;
    }
    @media (min-width: 1025px) {
      grid-column: 2 / span 3;
      grid-row: 7 / span 5;
    }
  }
  .earth {
    width: 100%;
    height: auto;
    top: 5rem;
    @media (min-width: 768px) {
      position: sticky;
    }
    @media (min-width: 1025px) {
      position: sticky;
    }
  }
  .text-wrapper {
    display: flex;
    flex-direction: column;
    grid-column: 2 / span 6;
    padding-top: var(--clamp);
    --clamp-min: 20;
    --clamp-max: 44;
    color: var(--color-black-mild);
    @media (min-width: 768px) {
      grid-column: 5 / span 3;
      --clamp-min: 60;
      --clamp-max: 80;
    }
    @media (min-width: 1025px) {
      grid-column: 5 / span 3;
      --clamp-min: 84;
      --clamp-max: 168;
    }
  }
  .number {
    font-size: var(--clamp);
    --clamp-min: 20;
    --clamp-max: 24;
    font-family: "shippori mincho", serif;
    font-weight: 400;
    text-align: center;
    margin-bottom: 0.5em;
    @media (min-width: 768px) {
      text-align: left;
      --clamp-min: 24;
      --clamp-max: 28;
    }
    @media (min-width: 1025px) {
      text-align: left;
      --clamp-min: 32;
      --clamp-max: 64;
    }
  }
  .headline {
    color: hsl(340, 100%, 50%);
    font-family: "shippori mincho", serif;
    font-weight: 400;
    font-size: var(--clamp);
    --clamp-min: 32;
    --clamp-max: 40;
    line-height: 1.25;
    text-align: center;
    margin-bottom: 2.3em;
    @media (min-width: 768px) {
      transform: translateX(-0.3vw);
      text-align: left;
      --clamp-min: 40;
      --clamp-max: 53;
      margin-bottom: 1.58em;
    }
    @media (min-width: 1025px) {
      transform: translateX(-0.3vw);
      text-align: left;
      --clamp-min: 48;
      --clamp-max: 96;
      margin-bottom: 1.58em;
    }
  }
  .paragraph {
    font-size: var(--clamp);
    --clamp-min: 14;
    --clamp-max: 16;
    font-family: "noto sans", sans-serif;
    font-weight: 500;
    line-height: 1.9;
    padding-bottom: 9em;
    letter-spacing: 0.05rem;
    @media (min-width: 768px) {
      --clamp-min: 16;
      --clamp-max: 22;
      padding-bottom: 4em;
    }
    @media (min-width: 1025px) {
      --clamp-min: 16;
      --clamp-max: 32;
      word-break: keep-all;
      padding-bottom: 6em;
    }
  }
  .card__text-wrapper {
    --clamp-min: 16;
    --clamp-max: 18;
    font-size: var(--clamp);
    display: flex;
    flex-direction: column;
    width: max-content;
    color: var(--color-black-mild);
    z-index: 10;
    padding: 4em 2em;
    @media (min-width: 768px) {
      --clamp-min: 16;
      --clamp-max: 18;
      padding: 2.5em 1.5em;
    }
    @media (min-width: 1025px) {
      --clamp-min: 18;
      --clamp-max: 36;
      padding: 4em 2em;
    }
  }
  .card__title {
    --clamp-min: 16;
    --clamp-max: 24;
    font-size: var(--clamp);
    font-family: "noto sans", sans-serif;
    font-weight: 500;
    margin-bottom: 0.75em;
    width: min-content;
    background-color: var(--color-white-warm);
    padding: 0 0.3em;
    border-radius: 0.3em;
    word-break: keep-all;
    @media (min-width: 768px) {
      --clamp-min: 16;
      --clamp-max: 18;
    }
    @media (min-width: 1025px) {
      --clamp-min: 18;
      --clamp-max: 36;
    }
  }
  .card__tag {
    --clamp-min: 12;
    --clamp-max: 18;
    font-size: var(--clamp);
    color: var(--color-black-mild);
    font-family: "jost", sans-serif;
    background-color: var(--color-tag-yellow);
    width: min-content;
    border-radius: 1em;
    padding: 0 0.5em;
    margin-bottom: 2.4em;
    @media (min-width: 768px) {
      --clamp-min: 12;
      --clamp-max: 14;
    }
    @media (min-width: 1025px) {
      --clamp-min: 14;
      --clamp-max: 28;
    }
  }
  .card__tag--walm {
    background-color: var(--color-tag-orange);
  }
  .card__paragraph {
    --clamp-min: 12;
    --clamp-max: 20;
    font-size: var(--clamp);
    font-family: "noto sans", sans-serif;
    font-weight: 500;
    line-height: 2;
    letter-spacing: 0.03rem;
    @media (min-width: 768px) {
      --clamp-min: 14;
      --clamp-max: 16;
    }
    @media (min-width: 1025px) {
      --clamp-min: 16;
      --clamp-max: 32;
    }
  }
  .card__bg-line {
    background-color: var(--color-white-warm);
    padding: 0 0.3rem;
    border-radius: 0.3rem;
  }
</style>
