---

---

<section id="section" class="section">
  <div class="container">
    <slot />
  </div>
</section>

<style>
  .section {
    background: rgb(255, 199, 201);
    background: linear-gradient(
      135deg,
      rgba(255, 199, 201, 0.35) 0%,
      rgba(255, 251, 163, 0.35) 60%,
      rgba(206, 255, 128, 0.35) 100%
    );
  }
  .container {
    padding: 2.5rem;
    width: 100%;
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(8, minmax(max-content, 1fr));
  }
</style>
